h2 {
    margin-left: 10px;
    margin-bottom: 5px;
}

main{
    font-family: "Roboto";
}

main form{
    text-align: center;
    margin: 0 10px 15px 10px;

    background-color: white;
    border: solid gray 1px;
    border-radius: 3px;
}

form div{
    margin: 10px 0px;
}

form div input{
    background-color: lightgray;
    width: 60%;
}

form div label{
    font-weight: 600;
}

#categorias label{
    font-weight: 400;
}

form input {
    border-radius: 3px;
    border-color: #095ab1;
    padding: 10px;
}

form .button {
    margin-bottom: 15px;
    width: 50%;
    background-color:#095ab1;
    color: white;
    border-radius: 5px;

}

form .button:hover{
    background-color:#0022AA;
}